body {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

#root {
  display: flex;
  width:100vw;
  height:auto;
}

.title {
  font-size: 2.2vw;
}

.input-container {
  flex-basis: 28%;
  background-color: #1e3a8a;
  color: white;
  height: 100vh;
  overflow-y: auto;
  border-right: 2px solid black;
  position: sticky;
  top: 0;
}

.category {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.5vh 0;
  border-bottom: 1px solid black;
  flex-direction: column;
  gap: 1vh;
}

.category-header {
  font-size: 2vw;
  border-bottom: 2px solid white;
}

.collapse {
  width: 2vw;
  height: auto;
  filter: invert(100%) sepia(0%) saturate(7470%) hue-rotate(62deg) brightness(105%) contrast(109%);
}

.inputWrapper {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 5px;
}

.inputWrapper label {
  text-align: right;
}

.resume-display {
  flex: 1 0 auto;
  background-color: #bae6fd;
  display: flex;
  justify-content: center;
  align-items: center;
  height:auto;
  padding: 2vh;
}

.resume {
  height: 120vh;
  aspect-ratio: 8.5 / 11;
  background-color:  white;
  color:black;
  font-size: 24px;
  box-sizing: border-box;
  padding: 2vh 1.5vw;
}

.fullName {
  text-align: center;
  font-size: 2vw;
}

.personal-group {
  width:100%;
  text-align: center;
  display:flex;
  justify-content: center;
  font-size: 1vw;
}

.personal-group h4::after {
  content: ' | \00a0';
}

.resumeSection {
  width:100%;
  height:auto;
  margin-bottom: 1.2vh;
}

.resumeSectionHeader {
  width:100%;
  text-align: left;
  border-bottom: 3px solid black;
  padding-bottom: 2px;
  font-size: 1.4vw;
}

.sectionChildWrapper {
  margin-bottom: .6vh;
  padding: 0 8px;
}

.resumePairMain {
  width: 100%;
  display: flex;
}

.projTitle a {
  font-size: 1.1vw;
  font-weight: bold;
  text-decoration: none;
  color:black;
  padding: 0;
  font-style: normal;
}

.projTitle {
  font-size: 1vw;
  padding: 0;
  font-style: italic;
  font-weight: 400;
}

.projTechStack {
  font-style: italic;
  font-size: 1.1vw;
}

.mainTitle {
  font-weight: bold;
  font-size: 1.1vw;
  flex-basis: 70%;
}

.mainTitleRightAlign {
  width: 100%;
  font-size: 1.1vw;
  text-align: right;
}

.resumeSecondaryPair {
  display:flex;
  width:100%;
}

.educationDetails {
  font-style: italic;
  font-size: .9vw;
  flex-basis: 100%;
}

.dateWrapper {
  width:100%;
  font-size: .9vw;
  font-style: italic;
  text-align: right;
}

.secondaryTextLeft,
.secondaryTextRight {
  font-style:italic;
  font-size: .9vw;
}

.secondaryTextLeft {
  flex-basis: 125%;
}

.secondaryTextRight {
  text-align: right;
  width:100%;
}

.achievementList {
  font-size: .8vw;
  display: flex;
  flex-direction: column;
  gap: .4vh;
  padding: 0vh 24px;
}

.achievementList li {
  list-style: disc;
}

.skillLine {
  display:flex;
}

.skillLine h2 {
  font-weight: bold;
  font-size: 1.1vw;
}

.skillLine h2::after {
  content: ':\00a0';
}

.skill {
  font-size: 1.1vw;
}
.skillLine {
  padding: .3vh 0;
  width: 100%;
}

.generalButtoncontainer {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  grid-column: 1 / span 2;
}

.achieveInputWrap {
  display:flex;
  grid-column: 1 / span 2;
  justify-content: center;
}

.achieveInputWrap input {
  flex-basis: 175%;
}
