body {
  overflow-x: hidden;
  overflow-y: auto;
}

#root {
  display: flex;
  width:100vw;
  height:auto;
}

.title {
  font-size: 2.2vw;
}

.input-container {
  flex-basis: 28%;
  background-color: #1e3a8a;
  color:white;
  height: 100vh;
  overflow-y: auto;
  border-right: 2px solid black;
}

.category {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.5vh 0;
  border-bottom: 1px solid black;
  flex-direction: column;
  gap:1vh;
}


.category-header {
  font-size: 2vw;
  border-bottom: 2px solid white;
}

.collapse {
  width: 2vw;
  height: auto;
  filter: invert(100%) sepia(0%) saturate(7470%) hue-rotate(62deg) brightness(105%) contrast(109%);
}

.resume-display {
  flex: 1 0 auto;
  background-color: #bae6fd;
  display: flex;
  justify-content: center;
  align-items: center;
  height:auto;
  padding: 2vh;
}

.resume-display h1 {
  color:black;
  font-size: 24px;
}

.resume {
  height: 120vh;
  aspect-ratio: 8.5 / 11;
  background-color:  white;
  color:black;
  font-size: 24px;
}


li {
  list-style: circle;
}